.swpieButtons{
    position: fixed;
    bottom: 7vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swpieButtons .MuiIconButton-root{
    background-color: #fff !important;
    box-shadow:0px 18px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swpieButton_item{
    padding: 2vw !important;
}
.swpieButtons_repeat{
    color: #f5b748 !important;
}
.swpieButtons_left{
    color: #ed5e6f !important;
}
.swpieButtons_start{
    color: #62b4f9 !important;
}
.swpieButtons_right{
    color: #76e2b3 !important;
}
.swpieButtons_lightining{
    color: #915dd1 !important;
}